.menubar {
    position: relative;
    background-color: #24334e;
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
    width: 74px;
    height: 100vh;
    transition: width 300ms;
}

.menuWrap {
    display: block;
    position: fixed;
    text-align: center;
    width: 74px;
    transition: width 300ms;
}

.menubar.isopen, .menuWrap.isopen {
    width: 210px;
}

.menubar span {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 300;
    font-size: 1em;
    line-height: 60px;
}

#hambmenu {
    position: relative;
    width: 40px;
    height: 45px;
    float: left;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#hambmenu span {
    position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: white;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    padding: 0px;
}

.hambclicker {
    content: "";
    height: 35px;
    width: 42px;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    z-index: 9;
}

#hambmenu span:nth-child(1) {
    top: 0px;
}

#hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
    top: 10px;
}

#hambmenu span:nth-child(4) {
    top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
    opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

#menu {
    position: absolute;
    width: 210px;
    margin-top: 60px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    overflow-y: auto;
    height: calc(87vh - 60px);
}

#menu ul, .actionMenuArea ul {
    width: 100%;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
#menu li  {
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

#menu li p, .actionMenuArea li p {
    color: #FFFFFF;
    margin-bottom: 0;
}

#menu li:last-child {
    border-bottom: none;
}

.fa {
    color: black;
    padding-right: 8px;
}

#menu.isopen {
    -webkit-transform: none;
    transform: none;
}

.mainMenuArea {
    height: 90vh;
}

.actionMenuArea {
    height: 10vh;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 420px) {
    .menubar span {
        font-size: 1.2em;
    }
}
